<section class="contact">
    <div class="container">
        <div class="contact__title">
            <h1>Contact Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
        </div>

        <form class="contact_form" action="">
            <input class="contact_form_text" type="text" placeholder="First Name">
            <input class="contact_form_text" type="text" placeholder="Last Name">
            <input class="contact_form_text" type="email" placeholder="Email">
            <input class="contact_form_text" type="number" placeholder="Phone">
            <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
            <div class="contact_form_footer">
                <div class="contact_tbt">
                    <input type="checkbox">
                    subscribe to the newsletter
                </div>
                <input type="submit" class="btn" name="" id="" value="send">
            </div>
        </form>
    </div>
</section>