<section class="feedback">
    <div class="container">
        <div class="feedback__about">
            <h1>What our customers have to say about us.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            <a href="#" class="btn"> get started</a>
        </div>
        <div class="feedback__block">
            <div class="feedback__block__arrow" id="comm_up">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
                <use xlink:href="#next_arrow" />







                </svg>
            </div>
            <div class="feedback__list">
                <div class="feedback__item feedback__item_top" id="comm1">
                    <img src="img/feedback/ava1.png" alt="">
                    <div class="feedback__item__text">
                        <h2>John Doe</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                    </div>
                </div>
                <div class="feedback__item" id="comm2">
                    <img src="img/feedback/ava2.png" alt="">
                    <div class="feedback__item__text">
                        <h2>Khalessi</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                    </div>
                </div>
                <div class="feedback__item" id="comm3">
                    <img src="img/feedback/ava1.png" alt="">
                    <div class="feedback__item__text">
                        <h2>John Doe</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                    </div>
                </div>
                <div class="feedback__item" id="comm4">
                    <img src="img/feedback/ava2.png" alt="">
                    <div class="feedback__item__text">
                        <h2>Khalessi</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                    </div>
                </div>
                <div class="feedback__item" id="comm5">
                    <img src="img/feedback/ava1.png" alt="">
                    <div class="feedback__item__text">
                        <h2>John Doe</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
                    </div>
                </div>
            </div>
            <div class="feedback__block__arrow" id="comm_down">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">

                </svg>
            </div>
        </div>
    </div>
</section>