@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header class="header">
    <div class="container">
        <nav class="navigation">
            <a href="#" class="navigation__logo">
                <img src="img/logo.png" alt="">
                <div class="navigation__logo__text">
                    <p>
                        <span>Dart</span><br>
                        service manager
                    </p>
                </div>
            </a>
            <nav class="nav" id="main_menu">
                <div class="close_menu">
                    <svg id="close_burg" height="365.696pt" viewBox="0 0 365.696 365.696" width="365.696pt" xmlns="http://www.w3.org/2000/svg"><path d="m243.1875 182.859375 113.132812-113.132813c12.5-12.5 12.5-32.765624 0-45.246093l-15.082031-15.082031c-12.503906-12.503907-32.769531-12.503907-45.25 0l-113.128906 113.128906-113.132813-113.152344c-12.5-12.5-32.765624-12.5-45.246093 0l-15.105469 15.082031c-12.5 12.503907-12.5 32.769531 0 45.25l113.152344 113.152344-113.128906 113.128906c-12.503907 12.503907-12.503907 32.769531 0 45.25l15.082031 15.082031c12.5 12.5 32.765625 12.5 45.246093 0l113.132813-113.132812 113.128906 113.132812c12.503907 12.5 32.769531 12.5 45.25 0l15.082031-15.082031c12.5-12.503906 12.5-32.769531 0-45.25zm0 0" /></svg>
                </div>
                <div class="nav__list">
                    <a href="#">Home</a>
                    <a href="#">Service</a>
                    <a href="#">Extension</a>
                    <a href="#">Pricing</a>
                    <a href="#">Help</a>
                </div>
            </nav>
            <div class="menu_login">
                <svg id="burger" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m464.883 64.267h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z" /><path d="m464.883 208.867h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z" /><path d="m464.883 353.467h-417.766c-25.98 0-47.117 21.137-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.012-21.137-47.149-47.117-47.149z" /></svg>
                <a asp-action="Auth" asp-controller="Authorize" class="btn">sign up</a>
            </div>
        </nav>
        <div class="intro">
            <div class="intro__text">
                <h1>lorem Ipsum<br>Dolor sit amet</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc</p>
                <div class="intro__btns">
                    <a href="#" class="btn">Buy now</a>
                    <a href="#" class="btn" id="intro__btn__2">Try for free</a>
                </div>
            </div>
            <div class="intro__video">
                <video>
                    <source src="video/Beach - 42179.mp4">
                </video>
            </div>
        </div>
    </div>
</header>