@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="advantages">
    <div class="container">
        <div class="adv__title">
            <h1>Easy & Useful</h1>
            <h2>Project Management Tool</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
        </div>
        <div class="advantages__list">
            <div class="advantages__item">
                <img src="img/advantages/img1.png" alt="">
                <div class="advantages__item__text">
                    <h1>Title Goes Here</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="advantages__item">
                <img src="img/advantages/img2.png" alt="">
                <div class="advantages__item__text">
                    <h1>Title Goes Here</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="advantages__item">
                <img src="img/advantages/img3.png" alt="">
                <div class="advantages__item__text">
                    <h1>Title Goes Here</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="adv__btn">
            <a href="#" class="btn">Get started</a>
        </div>
    </div>
</section>