
@await Html.PartialAsync("_GetIntro");
@await Html.PartialAsync("_GetAdvantages");
@await Html.PartialAsync("_GetInfo");
@await Html.PartialAsync("_GetServices");
@await Html.PartialAsync("_GetFeedback");
@await Html.PartialAsync("_GetTeam");
@await Html.PartialAsync("_GetContact");


<div hidden>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
         y="0px" width="292.362px" height="292.362px" viewBox="0 0 292.362 292.362"
         style="enable-background:new 0 0 292.362 292.362;" xml:space="preserve">
    <g id="down_arrow__content">
    <path d="M286.935,69.377c-3.614-3.617-7.898-5.424-12.848-5.424H18.274c-4.952,0-9.233,1.807-12.85,5.424
		C1.807,72.998,0,77.279,0,82.228c0,4.948,1.807,9.229,5.424,12.847l127.907,127.907c3.621,3.617,7.902,5.428,12.85,5.428
		s9.233-1.811,12.847-5.428L286.935,95.074c3.613-3.617,5.427-7.898,5.427-12.847C292.362,77.279,290.548,72.998,286.935,69.377z" />

    </g>
    </svg>

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
         y="0px" viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
    <g id="next_arrow">
    <g>
    <path d="M336.226,209.591l-204.8-204.8c-6.78-6.548-17.584-6.36-24.132,0.42c-6.388,6.614-6.388,17.099,0,23.712l192.734,192.734
    			L107.294,414.391c-6.663,6.664-6.663,17.468,0,24.132c6.665,6.663,17.468,6.663,24.132,0l204.8-204.8
    			C342.889,227.058,342.889,216.255,336.226,209.591z" />

    </g>
        </g>
    </svg>
</div>


